---
layout: default
title: dylan edwards
---

<header>
  <h1 class="animated fadeIn"><a href="/">Dylan Edwards</a></h1>
  {% include categories.html %}
</header>

<main>
  {% for item in site.data.work %}
  <section data-scroll id="{{ item.title | slugify }}" class="work category {{ item.categories | downcase }} animated fadeInUp">

    <h3><a href="#{{ item.title | slugify }}">{{ item.title }} {% if item.subtitle %}• {{ item.subtitle }}{% endif %}</a></h3>

    <a class="ifGif" data-fancybox href="{{ item.video }}" data-ratio="{{ item.ratio }}" data-width="{{ item.width}}" data-height="{{ item.height }}" data-caption="{{ item.credits }}"></a>

    <iframe src="{{ item.gif }}?loop=1&controls=0&muted=1" width="100%" maxwidth="750px" height="100%" maxheight="750px" frameborder="0" allowfullscreen="false"></iframe>

  </section>
  {% endfor %}

  <section class="extras">
    <div id="contact">
      <a href="mailto:edwardsjdylan@gmail.com">contact</a>
    </div>
  </section>
  <section class="extras">
    <div id="bedroom">
      <a href="https://bedroomeditorial.com"><img src="assets/icons/bedroom.png" alt=""></a>
    </div>
  </section>
</main>

{% include contact.html %}
