<div class="categories animated fadeIn" id="accordion">
  <h3 class="categories-header">
    <span id="category-label">some</span>
    <span class="toggle-text">+</span>
  </h3>
  <div id="categories-btns">
    <button class="btn active" onclick="filterSelection('some')">Some</button>
    <button class="btn" onclick="filterSelection('all')">All</button>
    <button class="btn" onclick="filterSelection('commercial')">Commercial</button>
    <button class="btn" onclick="filterSelection('mv')">Music Video</button>
    <button class="btn" onclick="filterSelection('branded')">Branded</button>
    <button class="btn" onclick="filterSelection('narrative')">Narrative</button>
  </div>
</div>

<script>
$( ".categories-header" ).click(function() {
  $(this).find(".toggle-text").text(function (i, text) {
    return text === "+" ? "-" : "+";
  })
});

$( "#accordion" ).accordion({
  active: false,
  collapsible: true,
  header: "h3"
});
</script>
