body {
  font-family: monospace;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: min-content 1fr;
  margin: 0;
  background-color: black;
  text-transform: lowercase;
  &::-webkit-scrollbar { display: none; }
}

header {
  font-family: $project-font;
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  z-index: 200;
  width: 100%;
  padding: 4rem 0.5rem;
  h1 {
    @include responsive-font(3vw, $regular, $medium, $medium);
    margin: 0;
    text-align: right;
  }

  .categories {
    pointer-events: all;
    float: right;

    button {
      float: right;
      clear: both;
      margin: 0;
      border: none;
      padding: .2rem;
      background-color: rgba(0,0,0,0);
      color: white;
      @include responsive-font(5vw, $small, $regular, $small);
      display: inline-block;
      font-family: 'Inter';
      text-transform: lowercase;
      &.active { font-style: italic; }
      &:hover {
        cursor: pointer;
        text-decoration: line-through;
      }
    }
  }
}

main {
  padding-bottom: 100vh;
  overflow: hidden;

  section {
    min-height: 7vh;
    padding: 0;
    margin: 0;
    img, iframe, .ifGif {
      width: 50vw;
      max-width: 750px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.2s ease-in-out;
      opacity: 0;
      &.visible { opacity: 1; }
    }

    a {
      pointer-events: none;
      &.visible { pointer-events: all; }
    }

    h2 {
      width: 100vw;
      position: relative;
      top: 50vh;
      z-index: 1000;
      padding: 0;
      margin: 0;

      a {
        font-family: $project-font;
        text-transform: lowercase;
        color: white;
        opacity: 0.1;
        display: block;
        padding: 0.5rem;
        text-decoration: none;
        margin: 0;
        transition: all 0.2s linear;
        @include responsive-font(4vw, $small, $extra-large, $large);

        &.current { opacity: 1.0; }
        &:hover { cursor: default; }
        .subtitle {
          font-family: 'Inter';
          font-weight: 400;
          @include responsive-font(3vw, $small, $large, $regular);
        }
      }

      img { z-index: 1; }
      iframe { z-index: -100; }
      .ifGif {
        display: block;
        width: 100%;
        height: 50%;
        z-index: 1;
      }
    }
    &.category { display: none; }
    &.show { display: block; }
    &.contact {
      margin-top: 120vh;
      h2 {
        text-align: center;
        font-family: $project-font;
        text-transform: lowercase;
        color: white;
        a {
          @include responsive-font(3vw, $small, $medium, $regular);
          opacity: 1;
          text-decoration: none;
          pointer-events: all;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (min-width: 1080px) {
  //main section { height: 8vh; }
  header .categories button {
    float: none;
    clear: none;
  }
}

@media screen and (min-width: 1200px) {
  //main section { height: 10vh; }
}
