body {
  font-family: monospace;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: min-content 1fr;
  margin: 0;
  background-color: black;
  &::-webkit-scrollbar { display: none; }
}

header {
  font-family: $title-font;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  z-index: 200;
  width: 100%;
  padding: 4%;
  h1 {
    @include responsive-font(5vw, $medium, $large, $medium);
    margin: 0;
    text-align: right;
  }

  .categories {
    pointer-events: all;
    float: right;

    button {
      float: right;
      clear: both;
      margin: .3rem;
      border: none;
      background-color: rgba(0,0,0,0);
      color: white;
      @include responsive-font(5vw, $small, $regular, $small);
      display: inline-block;
      font-family: 'Inter';
      &.active { font-style: italic; }
      &:hover {
        cursor: pointer;
        font-style: italic;
      }
    }
  }
}

nav {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  pointer-events: none;
  z-index: 1000;
  perspective: 1px;
  perspective-origin: 0%;

  ul {
    border: 2px solid red;
    list-style: none;
    position: sticky;
    //top: 50vh;
    margin: 0;
    padding: 0;
    margin-top: 50vh;
    margin-bottom: 50vh;
    scroll-behavior: smooth;
    transform-origin: 0%;
    transform: translateZ(-2px) scale(3);

    li {
      &.category { display: none; }
      &.show {display: block;}

      a {
        font-family: $project-font;
        font-size: $extra-large;
        text-transform: lowercase;
        color: white;
        opacity: 0.1;
        display: block;
        padding: 1rem 2rem;
        text-decoration: none;
        margin: 0;
        transition: all 0.2s linear;
        @include responsive-font(5vw, $regular, $extra-large, $large);
        &.current { opacity: 1.0; }
        &:hover { cursor: default; }
        .subtitle {
          font-family: 'Inter';
          @include responsive-font(3vw, $small, $large, $regular);
        }
      }
    }
  }
}


main {
  padding-bottom: 100vh;
  overflow: hidden;

  section {
    border: 2px solid orange;
    height: $project-height;
    padding: $project-height 0;
    margin: 0;
    &.category { display: none; }
    &.show { display: block; }

    img, iframe, .ifGif {
      width: 50vw;
      max-width: 750px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.2s ease-in-out;
      opacity: 0;
      &.visible { opacity: 1; }
    }

    a {
      pointer-events: none;
      &.visible { pointer-events: all; }
    }

    img { z-index: 1; }
    iframe { z-index: -100; }
    .ifGif {
      display: block;
      width: 100%;
      height: 50%;
      z-index: 1;
    }

  }
}



@media screen and (min-width: 1080px) {
  main section { height: 8vh; }
  header .categories button {
    float: none;
    clear: none;
  }
}

@media screen and (min-width: 1200px) {
  main section { height: 10vh; }
}
