body {
  font-family: monospace;
	scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: min-content 1fr;
  margin: 0;
  background-color: black;
  &::-webkit-scrollbar { display: none; }
}

header {
  font-family: $title-font;
  text-transform: uppercase;
  position: fixed;
  top: 2%;
  right: 2%;
  color: white;
  h1 { @include responsive-font(5vw, $medium, $large, $medium); }
}

nav {
  white-space: nowrap;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  pointer-events: none;
  overflow-x: hidden;

  ul {
    list-style: none;
    position: sticky;
    top: 50vh;
    z-index: 100;
    margin: 0;
    padding: 0;
    margin-top: 50vh;
    margin-bottom: 50vh;
    scroll-behavior: smooth;

      li {
        &.category { display: none; }
        &.show { display: block; }

        a {
          font-family: $project-font;
          font-size: $extra-large;
          text-transform: lowercase;
          color: white;
          opacity: 0.1;
          display: block;
          padding: 1rem 2rem;
          text-decoration: none;
          margin: 0;
          transition: all 0.2s linear;
          @include responsive-font(3.8vw, $regular, $extra-large, $large);
          &.current { opacity: 1.0; }
          &:hover { cursor: default; }
        }
      }
    }
  }

  .categories {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    margin: 2rem;
    pointer-events: all;

    button {
      margin: .3rem;
      border: none;
      background-color: black;
      color: white;
      font-size: 0.8rem;
      display: block;
      font-family: $sans-serif;
      &.active { font-style: italic; }
      &:hover {
        cursor: pointer;
        font-style: italic;
      }
    }
  }

main {
  padding-bottom: 100vh;
  overflow: hidden;

  section {
    height: 6vh;
    padding: 0;
    margin: 0;
    &.category { display: none; }
    &.show { display: block; }

    img, iframe, .ifGif {
      max-width: 50vw;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.2s ease-in-out;
      opacity: 0;
      &.visible { opacity: 1; }
    }

    a {
      pointer-events: none;
      &.visible { pointer-events: all; }
    }

    img { z-index: 1; }
    iframe { z-index: 0; }
    .ifGif {
      display: block;
      position: absolute;
      width: 100%;
      height: 50%;
      z-index: 1;
    }

  }
}

@media screen and (min-width: 1080px) {
  main section { height: 8vh; }
}

@media screen and (min-width: 1200px) {
  main section { height: 10vh; }
}
