// Fonts

@font-face {
  font-family: 'Agrandir Grand Bold';
  src: url('../fonts/AgrandirGrandBold.woff2') format('woff2'), url('../fonts/AgrandirGrandBold.woff') format('woff'), url('../fonts/AgrandirGrandBold.otf') format('otf');
}

@font-face {
  font-family: 'Agrandir Grand Black';
  src: url('../fonts/AgrandirGrandBlack.woff2') format('woff2'), url('../fonts/AgrandirGrandBlack.woff') format('woff'), url('../fonts/AgrandirGrandBlack.otf') format('otf');
}

$title-font: 'Agrandir Grand Black', monospace;
$project-font: 'Agrandir Grand Bold', monospace;
$sans-serif: sans-serif;
$serif: serif;

// Font sizes
$xxl: 144px;
$extra-large: 72px;
$large: 48px;
$medium: 24px;
$regular: 18px;
$small: 14px;

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}
