// Fonts

@font-face {
  font-family: 'Agrandir Grand Bold';
  src: url('/assets/fonts/AgrandirGrandBold.woff2') format('woff2'),
  src: url('/assets/fonts/Agrandir-Grand-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Agrandir Grand Black';
  src: url('/assets/fonts/AgrandirGrandBlack.woff2') format('woff2'),
  src: url('/assets/fonts/Agrandir Grand Black.woff') format('woff');
}

$title-font: 'Agrandir Grand Black';
$project-font: 'Agrandir Grand Bold';
$sans-serif: sans-serif;
$serif: serif;

// Font sizes
$xxl: 144px;
$extra-large: 72px;
$large: 48px;
$medium: 24px;
$regular: 18px;
$small: 14px;
