<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta description={{ page.description }}>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="favicon" rel="icon" href="assets/favicon.ico" type="image/x-icon">

    <!-- JS -->
    <script src="assets/js/jquery-3.5.1.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/scrollmagic/minified/ScrollMagic.min.js"></script>
	  <script src="assets/js/fancybox/dist/jquery.fancybox.min.js" defer></script>
    <script src="https://player.vimeo.com/api/player.js" defer></script>
    <script src="https://kit.fontawesome.com/538a6688c8.js" crossorigin="anonymous" defer></script>
    <script src="assets/js/bedroom.js" defer></script>

    <!-- CSS -->
    <link rel="stylesheet" href="assets/js/fancybox/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

  </head>
  <body>
    {{ content }}
  </body>
</html>
