---
const { title } = Astro.props;
import "../styles/global.scss";
import work from "../data/work.yaml";
import Head from "../components/Head.astro";
---

<html lang="en">
    <head>
        <Head title={title} />

        <script define:vars={{ work }}>
            window.work = work;
        </script>
    </head>
    <body>
        <slot />
    </body>
</html>
